<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/styles.css">
  <head>
    <meta charset="utf-8">
    <title>JMD Contact</title>
  </head>
{% extends "layout.html" %}
{% block content %}
  <body>
    <br>
    <div id="working-edit">
      <img src="/static/img/Working-edit.jpg" alt="Working on piece" class="working">
      <h2 class="about-me" id="name">JOEL MINORU DIRNBERGER</h2>
      <p class="about-me">
        I started creating art with tape in 2011 while attending Huntington University in Huntington, Indiana. Since graduating in 2013, I’ve been living in Sioux Falls creating tape art pieces and installations. Inspired by photography and abstract/geometric shapes, I love that there are always new ways to experiment with tape.
      </p>
    </div>
  </body>
{% endblock %}
</html>
