<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/styles.css">
  <head>
    <meta charset="utf-8">
    <title>JMD Gallery</title>
  </head>
  <body>
{% extends "layout.html" %}
{% block content %}
    <div class="holder">
      <div class="container">
        <div class="item">
          <img src="/static/img/Italy.jpg" alt="Italy" id="item2">
          <img src="/static/img/Parrot-Tape-Art-FINAL.jpg" alt="Parrot" id="item">
          <img src="/static/img/Girl.jpg" alt="Girl" id="item">
          <img src="/static/img/bear-tape.jpg" alt="Bear" id="item2">
          <img src="/static/img/Cat.jpg" alt="Cat" id="item">
          <img src="/static/img/Parade-Copy.jpg" alt="parade" id="item">
          <img src="/static/img/Twins.jpg" alt="Twins" id="item">
          <img src="/static/img/Vikings.jpg" alt="Vikings" id="item">
        </div>
      </div>
      <div class="container2">
        <div class="item2">
          <img src="/static/img/Bird-Mountains.jpg" alt="Bird" id="item">
          <img src="/static/img/Bird-Tape.jpg" alt="Bird" id="item">
          <img src="/static/img/IMG_20161223_152659.jpg" alt="Wisconsin" id="item2">
          <img src="/static/img/Bison-Tape-Art-Final.jpg" alt="Bison" id="item">
          <img src="/static/img/Elephant-Final.jpg" alt="Elephant" id="item">
          <img src="/static/img/IMG_20161223_152727 - Copy.jpg" alt="Tori" id="item2">
        </div>
      </div>
    </div>
  </body>
{% endblock %}
</html>
