<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/styles.css">
  <head>
    <meta charset="utf-8">
    <title>JMD Gallery</title>
  </head>
  <body>
{% extends "layout.html" %}
{% block content %}
    <div class="holder">
      <div class="container">
        <div class="item">
          <img src="assets/Italy.jpg" alt="Italy" id="item2">
          <img src="assets/Parrot-Tape-Art-FINAL.jpg" alt="Parrot" id="item">
          <img src="assets/Girl.jpg" alt="Girl" id="item">
          <img src="assets/bear-tape.jpg" alt="Bear" id="item2">
          <img src="assets/Cat.jpg" alt="Cat" id="item">
          <img src="assets/Parade-Copy.jpg" alt="parade" id="item">
          <img src="assets/Twins.jpg" alt="Twins" id="item">
          <img src="assets/Vikings.jpg" alt="Vikings" id="item">
        </div>
      </div>
      <div class="container2">
        <div class="item2">
          <img src="assets/Bird-Mountains.jpg" alt="Bird" id="item">
          <img src="assets/Bird-Tape.jpg" alt="Bird" id="item">
          #<img src="assets/bear-tape.jpg" alt="Bear" id="item2">
          #<img src="assets/Italy.jpg" alt="Italy" id="item">
          #<img src="assets/Cat.jpg" alt="Cat" id="item">
          #<img src="assets/Twins.jpg" alt="Twins" id="item">
          #<img src="assets/Vikings.jpg" alt="Vikings" id="item">
        </div>
      </div>
    </div>
  </body>
{% endblock %}
</html>
